{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
{% include 'breadcrumb.html' %}

<div class="container text-center"><h1>Blog Posts</h1></div>

<div class="container col-md-6 mx-auto my-2">
  <!-- Search Bar -->
  {% include 'search_bar.html' %}
</div>

<div class="container">
    <div class="row g-4">
        {% for post in page_obj %}
            <div class="col-md-3">
                <div class="card h-100 shadow-sm">
                    <div class="position-relative">
                        <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}" style="height: 200px; object-fit: cover;">
                        <div class="card-img-overlay d-flex align-items-start justify-content-end p-2">
                            <div class="bg-dark text-white rounded-pill px-2 py-1">{{ post.updated_at|date:"M d, Y" }}</div>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex align-items-center mb-2">
                            {% if post.author.image %}
                                <img src="{{ post.author.image.url }}" alt="{{ post.author.username }}" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
                            {% else %}
                                <img src="{% static 'default-profile.jpg' %}" alt="{{ post.author.username }}" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
                            {% endif %}
                            <a href="{% url 'author' post.author.username %}" class="text-primary-500 text-decoration-none">
                                {% if post.author.first_name %}
                                    {{ post.author.first_name }}
                                    {% if post.author.last_name %}
                                        {{ post.author.last_name }}
                                    {% endif %}
                                {% else %}
                                    {{ post.author.username }}
                                {% endif %}
                            </a>
                        </div>
                        <h5 class="card-title">
                            <a class="text-decoration-none" href="{% url 'blogpost_detail' post.slug %}">{{ post.title|truncatewords:5 }}</a>
                        </h5>
                        <p class="card-text">{{ post.content|truncatewords:10| striptags }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<!-- Pagination-->
{% include 'pagination.html' %}
</div>



{% endblock %}
