{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block keyword %}{{ post.title }}{% endblock %}
{% block description %}{{ post.content|safe|truncatewords:15|striptags }}{% endblock %}

{% block og %}
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{ post.content|truncatewords:30 }}">
<meta property="og:image" content="{{ post.featured_image.url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Django blog">
{% endblock %}

{% block content %}
{% include 'breadcrumb.html' %}
<div class="container my-3">
  <div class="row">
    <div class="col-md-10 mb-3">
      <h1>{{ post.title }}</h1>
    <div class="d-md-flex align-items-center my-2">
        {% if post.author.image %}
            <img src="{{ post.author.image.url }}" alt="{{ post.author.username }}" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
        {% else %}
            <img src="{% static 'default-profile.jpg' %}" alt="{{ post.author.username }}" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
        {% endif %}
        <a href="/author/{{ post.author.username }}/" class="text-decoration-none">
            <p><strong>Author</strong>: {% if post.author.first_name %}{{ post.author.first_name }} {% if post.author.last_name %}{{ post.author.last_name | truncatechars:2 | upper }}{% endif %}{% else %}{{ post.author.username }}{% endif %}</p>
        </a>
        <p class="mx-md-3"><strong>Last Modified:</strong> {{ post.updated_at }}</p>

    </div>

      <img
        src="{{ post.featured_image.url }}"
        class="img-fluid"
        alt="{{ post.title }}"
        width="50%"
      />
      <p>{{ post.content|safe }}</p> <br>
            <h5>About the author</h5>
                <div class="card w-25">
                    {% if post.author.image %}
                        <img src="{{ post.author.image.url }}" class="card-img-top" alt="{{ author.username }}" style="height: 200px; object-fit: contain;">
                    {% else %}
                        <img src="{% static 'default-profile.jpg' %}" class="card-img-top" alt="{{ post.author.username }}" style="height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                        <a href="/author/{{ post.author.username }}/" class="text-decoration-none">
                           {{ post.author.first_name }} {{ post.author.last_name }}{% if not post.author.first_name and not post.author.last_name %}{{ post.author.username }}{% endif %}
                        </a>
                        </h5>
                        <p class="card-text">{{ post.author.bio|truncatewords:15 }}</p>
                    </div>
                </div>
    </div>



    <div class="col-md-2 shadow-sm" >
        <div class="sticky-top" style="top: 20px;">
                  {% include 'search_bar.html' %} {% include 'sidebar.html' %}
        </div>
    </div>
  </div>


    <section class="related-posts mt-5 container">
    <h2 class="mb-4">Related Posts</h2>
    <div class="row">
        {% for related_post in related_posts %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    {% if related_post.featured_image %}
                        <img src="{{ related_post.featured_image.url }}" class="card-img-top" alt="{{ related_post.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'blogpost_detail' related_post.slug %}" class="text-decoration-none">
                                {{ related_post.title }}
                            </a>
                        </h5>
                        <p class="card-text text-muted">
                            Published on {{ related_post.created_at|date:"F j, Y" }}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">No related posts found.</p>
        {% endfor %}
    </div>
</section>
<div class="row shadow-sm rounded ">
    <div class="col-md-10 mx-auto">
        <div class="container">
            <h5 class=" my-2">{% if comments_count %}<strong>{{ comments_count }}</strong>{% endif %} Comments</h5>
    {% for comment in comments %}
    <div class="row">
    <p class="my-3" id="comments">
        <i class="fa fa-user-circle" style="font-size: 1.6rem; margin: 10px; color: #0a58ca;"></i>{{ comment.comment }} by {{ comment.name }} on {{ comment.created_at }}<br>
    </p>
    </div>
        {% empty %}
        <p>No comments on this post yet... be the first to leave a comment</p>
     {% endfor %}
        <form id="CommentForm" method="POST" action="{% url 'commentform' post.slug %}">
            {% csrf_token %}
            <div class="row">
          <div class="col-md-6">
              <div class="mb-3">
                  {{ form.name.label_tag }}
                    {{ form.name }}
                {{ form.name.errors }}
              </div>
              <div class="mb-3">
                  {{ form.email.label_tag }}
                    {{ form.email }}
                {{ form.email.errors }}
              </div>
          </div>
                <div class="col-md-6">
                    <div class="mb-3">
                          {{ form.comment.label_tag }}
                            {{ form.comment }}
                        {{ form.comment.errors }}
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <input type="hidden" value="{{ post.id }}" name="blog_post">
                    <input
                            class="col-md-3 my-2 btn  btn-outline-primary"
                            type="submit"
                            value="submit"
                    >
                </div>
            </div>
</form>
        </div>
</div>
</div>
</div>
{% endblock %}

