{% extends 'blog_base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block keyword %}{{ post.title }}{% endblock %}
{% block description %}{{ post.content|safe|truncatewords:15|striptags }}{% endblock %}
{% block content %}
{% include 'breadcrumb.html' %}
<div class="container my-3">
  <div class="row">
    <div class="col-md-10">
      <h1>{{ post.title }}</h1>
      <img
        src="{{ post.featured_image.url }}"
        class="img-fluid"
        alt="{{ post.title }}"
        width="70%"
      />
      <p>{{ post.content|safe }}</p> <br>
        <span class="bg-warning-subtle  my-3 py-3 px-5 rounded-pill">Created at: {{ post.created_at }}</span>
      </div>
    <div class="col-md-2 shadow-sm" >
        <div class="sticky-top" style="top: 20px;">
                  {% include 'search_bar.html' %} {% include 'sidebar.html' %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
