{% extends 'blog_base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
{% include 'breadcrumb.html' %}

    <div class="container text-center my-3"><h1>Blog Posts</h1></div>
 <div class="container w-50 m-auto">
 <!-- Search Bar -->
{% include 'search_bar.html' %}
 </div>
    <div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ post.slug }}/">{{ post.title }}</a>
                </h5>
                <p class="card-text">{{ post.content|truncatewords:30|safe }}</p>
                <a href="{% url 'blogpost_detail' post.slug %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
        </div>
    <div class="col-md-2">
        {% include 'sidebar.html' %}
    </div>

    </div>
    </div>


{% endblock %}
