{% load static %}
<!-- Search Bar -->
        <form method="get" action="{% url 'search' %}">
            <div class="form-group">
                <label for="search">Search Posts</label>
                <div class="input-group align-items-center">
                <input
                    type="text"
                    id="search"
                    value="{{ query }}"
                    name="q"
                    class="form-control my-2"
                    placeholder="Type to Search Blog Posts...">
            <span>
                <div  class="input-group-text bg-transparent p-0">
                    <button type="submit" class="btn btn-outline-primary rounded-start-0 rounded-end">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </span>
                </div>
            </div>
        </form>
<!-- Display Search Results -->
<ul id="search-results" class="list-group mt-2"></ul>

<!-- AJAX for Search Functionality -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#search').on('keyup', function() {
      var query = $(this).val();
      if (query.length > 2) {  // Start searching after 3 characters
        $.ajax({
          url: "{% url 'search_posts' %}",
          data: {
            'q': query
          },
          success: function(data) {
            $('#search-results').html('');
            if (data.length > 0) {
              data.forEach(function(post) {
                $('#search-results').append('<li class="list-group-item mb-2 shadow-sm"><a href="/posts/' + post.slug + '/" class="text-decoration-none">' + post.title + '</a></li>');
              });
            } else {
              $('#search-results').html('<div class="alert alert-warning">No results found</div>'); //no results case
            }
          },
          error: function() {
            $('#search-results').html('<div class="alert alert-danger">An error occurred while searching. Please try again.</div>'); // Handle errors gracefully
          }
        });
      } else {
        $('#search-results').html('');
      }
    });
  });

</script>
