# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Google Analytics
GOOGLE_ANALYTICS_PROPERTY_ID=your-google-analytics-id

# Phone Number Settings
PHONENUMBER_DEFAULT_REGION=KE
