{% extends 'blog_base.html' %}
{% load form_tags %}
{% load socialaccount %}
{% block title %}login{% endblock %}

{% block content %}
<main class="form-signin col-md-5 m-auto  p-5 shadow-lg my-5">
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 text-center fw-normal">Django Blog Log in</h1>

  <!-- non-field errors -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger m-3">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="form-floating m-3">
      {{ form.username|add_class:"form-control" }}
      <label for="id_username">User Name</label>
    </div>
    <div class="form-floating m-3">
      {{ form.password|add_class:"form-control" }}
      <label for="id_password">Password</label>
    </div>

    <div class="text-start m-3">
      <a href="#">Forgot password?</a>
    </div>
    <button class="btn btn-sm btn-primary w-50 m-3 py-2" type="submit">Log in</button>
    <span>OR  <a href="{% url 'register' %}" class="fw-bold">Sign up</a></span>
  <div class="text-center">
      <p>or login with</p>
<a href="{% provider_login_url 'google' %}" class="btn btn-danger">
    <i class="fa-brands fa-google"></i> Google
      </a>
  </div>
    <p class="mt-5 mb-3 text-center text-body-secondary">&copy; 2023–2024</p>
  </form>
</main>
{% endblock %}
