<nav class="navbar navbar-expand-md navbar-dark bg-black shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">Django Blog</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'blogpost_list' %}">Articles</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'category_list' %}">Categories</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'search' %}">Search</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'authors_list' %}">Authors</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
        <div class="dropdown ms-auto">
            <button class="btn border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.is_authenticated and user.image %}
                    <img src="{{ user.image.url }}" alt="{{ user.username }}" class="rounded-circle " style="width: 40px; height: 40px;">
                    {% else %}
                <i class="fa fa-user text-white" style="font-size: 1.7rem;"></i>
                {% endif %}
            <i class="fa fa-caret-down text-white"></i>
            </button>
            <ul class="dropdown-menu my-3 z-3">
                {% if user.is_authenticated %}
                    <h2 class="dropdown-header">Welcome {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h2>
              <li><a class="dropdown-item" href="{% url 'account' %}">Dashboard</a></li>
                {% if request.user.is_superuser or request.user.is_staff %}
              <li><a class="dropdown-item" href="/admin/">Admin Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a></li>
              <li><a class="dropdown-item" href="{% url 'analytics_dashboard' %}">View Analytics</a></li>
              <li><a class="dropdown-item" href="{% url 'queries' %}">View Queries</a></li>
                    {% endif %}
              <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'add_post' %}">Write a Post</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
          </div>
    </div>
<button class="btn border-0 mx-2" id="theme-toggle">
    <i id="theme-icon" class="fa fa-moon text-white" style="font-size: 1.7rem;"></i>
</button>
  </div>
</nav>
