{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Sign In" %}
{% endblock title %}
{% block content %}
        <div class="container col-md-5 mx-auto shadow-lg py-5 px-5 text-center my-3 rounded-3 ">
            {% if process == "connect" %}
                {% element h1 %}
                    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
                {% endelement %}

                {% element p %}
                    {% blocktrans with provider.name as provider %}
                        You are about to connect a new third-party account from
                        {{ provider }}.
                    {% endblocktrans %}
                {% endelement %}
            {% else %}
                {% element h1 %}
                    {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
                {% endelement %}

                {% element p %}
                    {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
                {% endelement %}
            {% endif %}
            {% element form method="post" no_visible_fields=True %}
                {% slot actions %}
                    {% csrf_token %}
                    {% element button type="submit" %}
                        {% trans "Continue" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
</div>
    <script>
    document.addEventListener("DOMContentLoaded" , () =>{
    let button = document.querySelector("body > div > form > button");
    button.classList.add('btn', 'btn-outline-primary', 'my-3');

    });
    </script>
{% endblock content %}
